<%= link_to 'List', restaurants_path, :class => "btn btn-primary shadow" %>
<%= link_to 'New restaurant', new_restaurant_path, :class => "btn btn-primary shadow" %>
<%= link_to "Delete",
            restaurant_path(@restaurant),
            method: :delete,
            data: { confirm: "Are you sure?" }, :class => "btn btn-primary shadow" %>
<br><br><br>


<div class="container">
<div class="row m-16">
  <%= form_for @restaurant do |f| %>
  <div class="row">
    <%= f.label :name, "Name", :class => "col-3 col-form-label" %>
    <div class="col-9">
      <%= f.text_field :name, :class => "form-control mb-3" %>
    </div>
  </div>
  <div class="row">
    <%= f.label :address, "Address", :class => "col-3 col-form-label" %>
    <div class="col-9">
      <%= f.text_area :address, :class => "form-control mb-3" %>
    </div>
  </div>
  <div class="row">
    <%= f.label :phone_number, "Phone Number", :class => "col-3 col-form-label" %>
    <div class="col-9">
      <%= f.text_field :phone_number, :class => "form-control mb-3" %>
    </div>
  </div>
  <div class="row">
    <%= f.label :category, "Category", :class => "col-3 col-form-label" %>
    <div class="col-9">
      <%= f.text_field :category, :class => "form-control mb-3" %>
    </div>
  </div>
  <div class="row justify-content-md-end">
    <%= f.submit :class => "btn btn-primary shadow" %>
  </div>
  <% end %>
</div>
</div>

<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/restaurants/18">
  Delete the spoon
</a>